{% extends 'base.html' %}


{% block title %}
    detail profile
{% endblock title %}


{% block content %}
<div class="ui grid">
    <br>
    {{object}}
    <div class="row">
        <div class=" four wide column">
            <img class="ui medium rounded image" src="{{object.avatar.url}}" >
            <h1>{{object.user}}</h1>
            <div class="ui vertical fluid menu">
                <div class="item">
                    Posts
                    <div class="ui label">{{object.get_posts_count}}</div>
                </div>
                <div class="item">
                    Likes Dados
                    <div class="ui label">{{object.get_likes_given_count}}</div>
                </div>
                <div class="item">
                    Likes Recebidos
                    <div class="ui label">{{object.get_likes_received_count}}</div>
                </div>
                <div class="item">
                    Amigos
                    <div class="ui label">{{object.get_friends_count}}</div>
                </div>
            </div>
                {% if object.user not in rel_receiver and object.user not in rel_sender %}
                    <form action="{% url 'profiles:send-invite' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value={{obj.pk}}>       
                            <button type="submit" class="ui positive basic button mb-5 w-big">
                                <i class="plus square icon"></i>Add Amigos
                            </button>                          
                    </form>
                {% endif %}

                {% if object.user in rel_receiver and request.user not in object.friends.all %}
                    <button class="ui disabled button mb-5">
                        <i class="user icon"></i>Aguardando aprovação
                    </button>
                    
                {% endif %}
                    
                {% if request.user in object.friends.all %}
                    <form action="{% url 'profiles:remove-friend' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button type="submit" class="ui negative basic button mb-5 w-big">
                                <i class="minus square icon"></i>Remover de Amigos
                            </button>        
                    </form>
                {% endif %}
            
        </div>
        <div class="twelve wide column">
            
            {% if len_posts  %}
                
                {% for post in posts  %}
                    <div class="segment ui fluid">
                        {{post.content}}

                    </div>
                {% endfor %}
                    
            {% else %}    
                    <h1>Usuário sem posts</h1>
            {% endif %}
                
        </div>
    </div>

</div>

    
{% endblock content %}

    
    